@import "../../../app/mixin.scss";


.PredictionPriceWrapper{
    background: #111;
    border: 1px solid #1e1e1e;
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
    overflow-y: scroll;
    border-radius: 8px;
    @include lg{
        flex-direction: row;
    }
    .TopContainer{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        overflow: auto;
        margin-bottom: 20px;
        @include lg{
            flex-direction: column;
            justify-content: flex-start;
            gap: 10px;
            height: 60%;
        }
    }
}