@import    "../../../../app/mixin.scss";

.ArenaChatArea{
    display: flex;
    position: relative;
    flex-direction:column;
    height: 95%;
    width: 90%;
    align-items: center;
    padding: 24px;
    gap: 16px;
    background: #111111;
    border: 2px solid var(--border-color);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    box-sizing: border-box;
    .ArenaChatBox{
        display: flex;
        width: 100%;
        flex-direction: column;
        overflow: auto;
        height: 500px;
        @include md{
            height: 90%;
        }
        @include lg{
            height: 80%;
        }
        @include xl{
            height: 85%;
        }
        @include xxl{
            height: 90%;
        }
        .chatTextQuestion{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-end;
        }
        .chatTextResponse{
            font-size: 12px;
            width: 100%;
            justify-content: flex-start;
            max-width: auto;
            margin-block: 10px;
        }
       
    }
    .Logo{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #1e1e1e;
        border-radius: 4px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        padding: 5px;
        gap: 5px;
        @include md {
            width: 22px;
            height: 22px;
        }
        @include lg {
            width: 30px;
            height: 30px;
        }
        @include xl {
            width: 35px;
            height: 35px;
        }
        @include xxl {
            width: 40px;
            height: 40px;
        }
        &{transition: all 0.3s ease-in-out};
        &:hover{
            transform: scale(0.9);
        }
    }

   
    .SwapBox{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        .SwapSummary{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;
            .ButtonContainerAgentWrapper{
                display: flex;
                flex-direction: column;
                align-items:flex-end;
                @include md{
                    gap: 10px;
                }
                .YesNoButtonWrapper{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: 10px;
                }
                .YesButton{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    border: 1px solid #7bf179;
                    border-radius: 32px;
                    padding-inline:20px;
                    padding-block: 10px;
                   background-color: #1a1a1a;
                   min-width: 100px;
                   color: #cccccc;
                   cursor: pointer;
                   font-weight: 400;
                }
                .NoButton{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    border-radius: 32px;
                    padding-inline:20px;
                    padding-block: 10px;
                    background-color: #1a1a1a;
                    min-width: 100px;
                    color: #cccccc;
                   font-weight: 400;
                   cursor: pointer;
                   border:1px solid white;
                }
                .InactiveButton{
                   opacity: 0.5;
                }
                
            }
            
        }
        
    }
    .nestedResponse{
        display: flex;
        flex-direction:row;
        gap: 10px;
        justify-content: flex-start;
        
        @include md{
            max-width: 70%;
        }
        @include lg{
            max-width:50%;
        }
        @include xl{
            width: 40%; 
        }
        @include xxl{
            width: 30%;
        }
        .responseRow{
            background-color: #1a1a1a;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            padding: 10px;
            // overflow: auto;
            @include md{
                font-size: 12px;
            }
            @include xl{
                font-size: 14px;
            }
        }
    }
    .ConnectWallet{
        display: flex;
        border: 1px solid #7bf179;
        border-radius: 32px;
        padding-inline:20px;
        padding-block: 10px;
        background-color: #1a1a1a;
        min-width: 100px;
        display: flex;
        flex-direction: row;
        color: #cccccc;
       cursor: pointer;
       font-weight: 400;
       max-width: 210px;
        transition: all 0.2s ease-in-out;
        @include md{
            font-size: 12px;
        }
        @include xl{
            font-size: 14px;
        }
    }
    .chatText{
        background-color: #1a1a1a;
        border-radius: 12px;
        font-size: 12px;
        right: 20px;
        top: 20px;
        padding: 10px;
        min-width: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-height: 400px;
        overflow: auto;
        max-width: 700px;
    }
    
    .AgentArenaInputContainer{
        position:absolute;
        bottom: 20px;
        right: auto;
        left: auto;
        display: flex;
        justify-content: space-between;
        width: 95%;
        flex-direction: row;
        background-color: #1a1a1a;
        border: 1px solid #1e1e1e;
        padding-inline: 18px;
        padding-block: 10px;
        border-radius: 8px;
        @include md{
            width: 95%;
        }
        @include xl{
        width: 95%;
        }
        .AgentInput{
            display: flex;
            width: 90%;
            font-size: 20px;
            height: 50px;
            border-radius: 8px;
            border: 0px;
            background-color: transparent;
            outline: none;
        }
        .EnterButton{
            color: aquamarine;
            display: flex;
            font-size: 24px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}