@import   "@/app/mixin.scss" ;


.ChatBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 16px;
    background: radial-gradient(63.94% 63.94% at 20% 0, hsla(0, 0%, 100%, .03) 0, hsla(0, 0%, 100%, 0) 100%), #111;
    border: 2px solid var(--border-color);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    box-sizing: border-box;
    height: 90%;
    justify-content: center;
    @include md{
        justify-content: space-between;
        gap: 20px;
        width: 80%;
        height: 95%;
    }
    @include xl{
        width: 60%;
        height:60%;
    }
    @include xxl{
        width: 50%;
    }
    .ChatHeader{
        display: flex;
        flex-direction: column;
        width: 100%;
       font-size: 12px;
        @include md{
            font-size: 16px;
            gap: 16px;
        }
        :nth-child(1){
           font-size: 20px;
            justify-content: center;
            display: flex;
            font-family: inherit;
            font-weight: inherit;
            font-style: inherit;
            background: linear-gradient(95.86deg, var(--text-grey) -20.23%, var(--text-white) 74.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            @include md{
                font-size: 24px;
            }
        }
        :nth-child(2){
            justify-content: center;
            display: flex;
            font-family: "Manrope";
            color: #d4d4d4;
        }
    }
    .AllButton{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .ButtonsWrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        gap: 10px;
        @include md{
            flex-direction: row;
        }
       
    }
    .AgentInputContainer{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        background-color: #1a1a1a;
        border: 1px solid #1e1e1e;
        padding-inline: 24px;
        padding-block: 16px;
        border-radius: 8px;
        @include md{
            padding-inline: 20px;
            padding-block: 4px;
        }
        .AgentInput{
            display: flex;
            width: 90%;
            font-size: 18px;
            height: 50px;
            border-radius: 8px;
            border: 0px;
            background-color: transparent;
            outline: none;
        }
        .EnterButton{
            color: aquamarine;
            display: flex;
            font-size: 24px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

}

