@import "../../../../app/mixin.scss";

.TokenSelectionTab{
    display: flex;
    width: 35%;
    border-radius:16px;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;
    @include md{
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 10%;
        width: 100%;
    }
    @include lg{
        width: 70%;
        flex-wrap: wrap;
        flex-basis: 10%;
        flex-direction: row;
        justify-content: flex-start;
    }
    .TokenButton{
        padding: 12px;
        border-radius: 16px;
       background-color: #000000;
        border: 1px solid #1e1e1e;
        color: #c1c1c1;
        @include md{
            width: 19%;
        }
        @include lg{
            width: 15%;
            padding: 8px 16px;
        }
    }
    .Active{
        background-color: #7bf179;
        color: #000000;
    }
}

