@import "../../../../app/mixin.scss";

.TokenSelectionTab{
    display: flex;
    width: 35%;
    border-radius:16px;
    flex-direction: column;
    gap: 5px;
    background-color: #000000;
    @include lg{
        width: 90%;
        flex-wrap: wrap;
        flex-basis: 20%;
        flex-direction: row;
        justify-content: center;
        border: 1px solid #1e1e1e;
        padding: 12px;
    }
    .TokenButton{
        padding: 12px;
        border-radius: 16px;
       background-color: #1d1d1d;
        border: 1px solid #1e1e1e;
        color: #c1c1c1;
        @include lg{
            width: 30%;
        }
    }
    .Active{
        background-color: #7bf179;
        color: #000000;
    }
}

